<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>this is about page</title>
</head>
<body>
	<section>
	     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase ">
        <li class="nav-item">
          <a class="nav-link active" id="1" onclick="fn('1')" th:href="@{/buysell}">Buy/Sell</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  id="2" onclick="fn('2')" th:href="@{/orders}">Order History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  id="3" onclick="fn('3')" th:href="@{/logout}">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
	
	   <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12" style="margin-top: 15px;height: 720px;">
                        <form id="login-form" th:objest="${order}" class="form" action="/placeorder" method="post">
                            <h3 class="text-center text-info">Order Buy/Sell</h3>
                            <div th:if="${param.error}" class="alert alert-danger">
                             invalid username or password
                            </div>
                            <div th:if="${param.logout}" class="alert alert-sucess">
                             you have been logout
                            </div>
                            <div th:if="${param.change}" class="alert alert-sucess">
                             <p th:text=${param.change}></p>
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Stoke Name</label><br>
                                <input type="text" name="tradingsymbol" id="tradingsymbol" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Symboltoken :</label><br>
                                <input type="text" name="symboltoken" id="symboltoken" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Qty :</label><br>
                                <input type="number" name="quantity" id="quantity" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Price</label><br>
                                <input type="text" name="price" id="price" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="text" class="text-info">VARIETY </label><br>
                              
                                <select name="variety" id="variety" class="form-select" aria-label="Default select example">
									  <option value="NORMAL">Normal Order</option>
									  <option value="AMO"> After Market Order</option>
									  <option value="STOPLOSS">Stop loss order</option>
									  <option value="ROBO">ROBO (Bracket) Order</option>
								</select>
								
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">ORDER TYPE</label><br>
                              
                                <select name="ordertype" id="ordertype" class="form-select" aria-label="Default select example">
									  <option value="MARKET">Market Order</option>
									  <option value="LIMIT"> Limit Order</option>
									  <option value="STOPLOSS_LIMIT">Stop Loss Limit Order(SL)</option>
									  <option value="STOPLOSS_MARKET">Stop Loss Market Order(SL-M)</option>
								</select>
							</div>
                            <div class="form-group">
                                <label for="password" class="text-info">PRODUCT TYPE</label><br>
                              <select name="producttype" id="producttype" class="form-select" aria-label="Default select example">
									  <option value="DELIVERY">Cash & Carry for equity</option>
									  <option value="CARRYFORWARD"> Normal</option>
									  <option value="MARGIN">Margin Delivery</option>
									  <option value="INTRADAY">Margin Intraday Squareoff</option>
									  <option value="BO">Bracket Order</option>
								</select>
                            </div>                            
                            <div class="form-group">
                                <label for="password" class="text-info">DURATION</label><br>
                              
                                <select name="duration" id="duration" class="form-select" aria-label="Default select example">
									  <option value="DAY">Valid for a day </option>
									  <option value="IOC">  Immediate or Cancel</option>
								</select>
							</div>
							<div class="form-group">
                                <label for="password" class="text-info">EXCHANGE</label><br>
                              
                                <select name="exchange" id="exchange" class="form-select" aria-label="Default select example">
									  <option value="BSE">BSE Equity</option>
									  <option value="NSE">  NSE Equity</option>
									 <option value="NFO"> NSE Future and Options</option>
									  <option value="CDS"> NSE Currency </option>
									  <option value="NCDEX"> NCDEX Commodity</option>
									  <option value="MCX">MCX Commodity</option>
									  
								</select>
							</div>
                            <div class="form-group text-center mt-3">
                                <input type="submit" name="trade" class="btn btn-info btn-md"  value="BUY">
                                <input type="submit" name="trade" class="btn btn-info btn-md" style="background-color:red"value="SELL">
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	   
	</section>
</body>
</html>
